@import '~codemirror/lib/codemirror.css';

.CodeMirror {
    .cm-instruction {
        color: blue;
    }

    .cm-flags {
        color: brown;
        font-weight: bold;
    }

    .cm-literal-int {
        color: darkgreen;
    }

    .cm-register-io {
        color: purple;
        font-weight: bold;
    }
    .cm-register-mem {
        color: purple;
    }

    .picoasm-error {
        background-color: pink;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 8px;
        font-size: 1.2em;

        &::before {
            content: '❌';
            margin-right: 0.5em;
        }
    }
}
