@import 'highlighting';

body {
    background-color: #eee;

    #main-container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

.spacer {
    flex-grow: 1;
}

.code-editor {
    .code-editor-header {
        display: flex;
        flex-direction: row;

        h2 {
            margin: 0;
        }

        button {
            align-self: center;
        }
    }

    &.code-editor-dirty .code-editor-header h2::after {
        content: ' (unsaved)';
    }
}

.connection-status {
    color: red;
}

.downloader-pane {
    display: flex;
    margin-bottom: 10px;
}

.downloader-log {
    $log-height: 200px;

    ul {
        padding: 0;
        background: white;
        height: $log-height;
        overflow-y: scroll;

        &:empty::before {
            content: 'Nothing here, try to download a program!';
            display: block;
            color: #777;
            width: 100%;
            min-height: 100%;
            text-align: center;
            vertical-align: middle;
            line-height: $log-height;
        }

        li {
            list-style: none;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.8);

    .modal-content {
        background-color: white;
        max-width: 500px;

        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;

        padding: 1em;
        border-radius: 0.3em;

        > :first-child {
            margin-top: 0;
        }
    }
}

.save-modal-button-row {
    display: flex;
}
