[submodule "firmware/downloader/mkspiffs"]
	path = firmware/downloader/vendor/mkspiffs
	url = https://github.com/igrr/mkspiffs
[submodule "pcb/vendor/kicad-symbols"]
	path = pcb/vendor/kicad-symbols
	url = https://github.com/kicad/kicad-symbols
[submodule "pcb/vendor/kicad-footprints"]
	path = pcb/vendor/kicad-footprints
	url = https://github.com/kicad/kicad-footprints
[submodule "pcb/vendor/ClothBotCreations"]
	path = pcb/vendor/ClothBotCreations
	url = https://github.com/clothbot/ClothBotCreations
