target
.ensime*
*.gbr
*.drl
Report.tex
Report.pdf
Report.html
frågeformulär_lärare.tex
frågeformulär_lärare.pdf
*.bbl
*.bib~*
~$*
*~
.gdb_history
\#*#
.#*
.~lock*
build
sdkconfig.old
tags
TAGS
data.bin
*.bak
*-bak
svg-inkscape
